# Quality Report

## Version tested: 1.0.0

## QA Owner: Richard Pickering
## UX Owner: Agnese Caglio

## Test strategy
- Package Coverage - https://qatestrail.hq.unity3d.com/index.php?/runs/view/183912&group_by=cases:section_id&group_order=asc
- Platforms Coverage - https://qatestrail.hq.unity3d.com/index.php?/runs/view/183911&group_by=cases:section_id&group_order=asc
- Test Documentation - https://docs.google.com/document/d/1Nc65UnDXYkjr-g_tkBH-seInoXd42_uh5VigGxeaN3U/edit?tab=t.0

## Package Status
## Known Issues
- Project Auditor - Performance Issues when making too many selections - PROFB-286
- Project Auditor - Code - Compiler Messages - Info messages remain even when they are hidden - PROFB-285
- Project Auditor - Recommendation says to enable 'Texture Streaming' but no option exists - PROFB-284
- Project Auditor - Toggling On/Off Ignored Items looks to change Filename - PROFB-283
- Project Auditor - Project - Project Settings - Possible for selection to show 1/0 - PROFB-282
- Project Auditor - Unable to sort columns on Build - Build Size screens - PROFB-281
- Project Auditor - Build Size - Path is shown in right click menu but not in the chart - PROFB-280
- Project Auditor - Build - Build Steps - All steps are shown as info until you hit refresh - PROFB-279
- Project Auditor - Group items with only 1 entry say "1 Items" - PROFB-278
- Project Auditor - Is it correct to say '1 ignored are hidden' - PROFB-277
- Project Auditor - <Missing Data: Please Analyze> still shown after Analyzing - PROFB-276
- [Project Auditor] Exception appears when using certain templates and running an analysis - GUI Error: Invalid GUILayout state in ProjectAuditorWindow view - PROFB-275
- Project Auditor - Issues using Light Theme - PROFB-274
- Project Auditor - Summary screens reports 'No issues found' when analysis hasn't been run on that area - PROFB-273
